.row{
    display: flex;
}

.col, .col-2, .col-3{ /*Se utiliza la coma para poder aplicar las propiadedes en comun para los tres*/
    margin: 10px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    flex: 1;
}

.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
